@page
@model IndexModel
@{
    ViewData["Title"] = "logs";
    var parms = new Dictionary<string, string>
{
        {"systemId", Model.SystemId },
        {"term", Model.Term }
    };
}

<form>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <input asp-for="SystemId" type="text" class="form-control mb-2" id="system-id" placeholder="System Id">
        </div>
        <div class="col-auto">
            <input asp-for="Term" type="text" class="form-control mb-2" id="term" placeholder="Search string">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-light mb-2">Search</button>
        </div>
    </div>
</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Message</th>
            <th scope="col">Level</th>
            <th scope="col">Labels</th>
            <th scope="col">Registered at</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <td scope="row">
                    <a asp-page="/Log" asp-route-LogId="@(item.Id)">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
                        </svg>
                    </a>@item.Message
                </td>
                <td>@item.Level</td>
                <td>
                    @foreach (var label in item.Labels)
                    {
                        <span class="badge badge-light">@label</span>
                    }
                </td>
                <td>@item.RegisteredAt</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <nav aria-label="page navigation">
                    <ul class="pagination justify-content-end">
                        <li class="page-item @(!Model.ShowFirst? "disabled":"")">
                            <a asp-page="/Index" asp-all-route-data="parms" asp-route-CurrentPage="1" class="page-link">First</a>
                        </li>

                        <li class="page-item @(!Model.ShowPrevious? "disabled":"")">
                            <a asp-page="/Index" asp-all-route-data="parms" asp-route-CurrentPage="@(Model.CurrentPage -1)" class="page-link">Prev</a>
                        </li>

                        <li class="page-item  @(!Model.ShowNext? "disabled":"")">
                            <a asp-page="/Index" asp-all-route-data="parms" asp-route-CurrentPage="@(Model.CurrentPage + 1)" class="page-link">Next</a>
                        </li>

                        <li class="page-item @(Model.ShowLast ? "" : "disabled")">
                            <a asp-page="/Index" asp-all-route-data="parms" asp-route-CurrentPage="@Model.TotalPages" class="page-link">Last</a>
                        </li>
                    </ul>
                </nav>
            </td>
        </tr>

    </tfoot>
</table>


